

.perf-tool .settings {
  padding: 1em;
}

.perf-tool .settings h4 {
  font-weight: 500;
  font-size: 1.2em;
  margin: 0.5em 0;
}

.perf-tool .settings-list li {
  margin: 1em;
}

.perf-tool .settings-list li label {
  margin-right: 0.5em;
}

.perf-tool .settings-list li input {
  outline: none;
  border: 1px solid #A3A3A3;
  border-radius: 2px;
  padding: 0.3em;
}
